/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background: #087d6712;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


/*================================test================*/

.nav > li > a {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
	background:url(../img/headerbg.jpg) no-repeat top center; 
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.shadowedbox {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #dddddd;
}

.headerIcons {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: white;
    padding: 0.5em;
    border-radius: 0.3em;
}

/*======================================= page scroll control*/


::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #eeeeee;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #d5d5d5;
    }

/*======================================= end page scroll control*/

.bulletincontainer {
    overflow-y: scroll;
    height: 380px;
    /*box-shadow: 2px 2px 2px #d0d0d0;
            border: 0.5px solid #d0d0d0;*/
    padding: 2px;
    border-radius: 5px;
    border: 0.5px solid lightgray;
    background-color: #ffffff17;
}


.navbar-default {
    background-color: white;
    border-color: white;
}

a.list-group-item {
    color: #080808;
}

.navbar-default .navbar-nav > li > a {
    color: #080808;
}


.headerIcons {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: white;
    padding: 0.5em;
    border-radius: 0.3em;
}

.whitesmokeBG {
    background-color: #F5F4F4;
    text-decoration: none;
    color: black;
}

    .whitesmokeBG > div > a {
        color: black;
        font-weight: bold;
    }

    .whitesmokeBG > div > span > a {
        color: black;
        font-weight: bold;
    }

.container {
    max-width: none !important;
    width: 1200px;
}

.navbar-outer {
    max-width: none !important;
    width: 120.0px;
    background-color: whitesmoke;
}

.allclasic_home {
    /*color: white;*/
    /*background: red;*/
    width: 186px !important;
}

.otheroptions {
    float: left;
    padding-top: 25px;
    font-size: 15px;
    line-height: 20px;
    /*background-color: white;*/
    color: black;
    margin-left: 250px;
    height: 105px;
    padding-right: 5px;
    text-decoration: none;
    /*border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;*/
	width:520px;
}

.orchContainer {
    background: white;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #dadce4;
}

.list-group-item {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    /*border-color: rgb(1, 99, 82);*/
    border-color: rgba(204, 206, 205, 0.24);
}



.shadowedPanel {
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #dddddd;
    padding: 1em;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
}

.locationcontainer {
    display: inline-block;
    border: 1px solid lightgray;
    padding: 3px;
    margin: 1px;
    border-radius: 3px;
    background-color: white;
}

.shadowedbox_hover:hover {
    background-color: white;
    /*box-shadow: 3px 3px 3px #d0d0d0 !important;*/
    /*box-shadow: 5px 5px 5px 3px #d0d0d0 !important;*/
    color: black !important;
    transform: scale(1.04);
    transition: all .3s ease-in-out;
}

.locationcontainer:hover {
    background-color: #28878a;
    color: white !important;
}


.table-striped > tbody > tr:nth-of-type(odd) {
    /*background-color: #D9EDF7;  #e7f7d973     rgb(90, 234, 239)       rgb(224, 244, 245)  */
    /*background-color: rgb(224, 244, 245);*/
    /*background-color: #f5f5f5;*/
    /*color: white;*/
    /*background-color: #F8F8F8;*/
    background-color: #F8F8F8;
    /*color: white;*/
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0.1px solid #f5f2f2;
    color: black !important;
    padding:10px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #d0d0d0;
}

.mainTitle {
    font-size: 16px !important;
    font-weight: bold !important;
    text-decoration: none;
    color: #ffffff;
}
.menucontainer {
	padding:0 20px;
	display: inline-block;
	text-align: center;
	margin: 5px;
}
.menucontainer a {
    color: #fff;
}
.menucontainer a:hover {
    color: #ccc;
}
.contentTitle {
    font-size: 13px !important;
    font-weight: bold !important;
}

.contentHeader{
    font-size: 13px !important;
    font-weight: bold !important;
}
.contentButton{
    font-size: 13px !important;
    font-weight: bold !important;
}

.filedName {
    font-size: 12px !important;
    font-weight: bold !important;
}

.filedDisplayandContentdisplay {
    font-size: 12px !important;
}
.Contentdisplay {
    font-size: 12px !important;
}
.filedDisplay {
    font-size: 12px !important;
}


blockquote {
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}


.rowwithbottomborder > tr > td {
    border-bottom: 1px solid #eaeaea94 !important;
    padding-bottom: 10px;
    padding-right: 5px;
    color: black !important;
}



/*.userregisterinfo div {
    padding: 0px;
    margin: 2px;
}*/

.userregisterinfo {
    padding-left: 20px;
}

.BodmembersContainer {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}
.BodmembersNameContainer {
    text-align: center;
    color: rgb(0, 77, 64);
    font-weight: 800;
}

.sogea_textcolor {
    color: rgb(119, 119, 119);
   
}

.sogea_textcolor2 {
    color: rgb(119, 119, 119);
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #d0d0d0;
    background: #890830;
    /*rgb(26, 181, 154);*/
    color: white !important;
}

.mypanelColor {
    background-color: #F4F5F9 !important;
    /*color: white !important;*/
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top:none
}













/*--- bootstrap.css 에서 복사해온 것 --*/

a {
  color: #666666;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #222;
  text-decoration: underline;
}


.col-xs-12 {
  width: 100%;
  line-height:28px;
}


.btn-primary {
  color: #fff;
  background-color: #2a2a2a;
  border:none;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #3c3c3c;
  border:none;
}
.btn-primary:hover {
  color: #fff;
  background-color: #3c3c3c;
  border:none;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3c3c3c;
  border:none;
}


.btn-success {
  color: #fff;
  background-color: #890830;
  border-color: #fff;
}

.btn-success:hover {
  color: #fff;
  background-color: #9b0f3b;
  border-color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #890830;
}



.navbar-brand {
  float: left;
  height: 50px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 20px;
}

















