<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="AllClassicWeb.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <%--<meta name="viewport" content="width=device-width, initial-scale=1.0" />--%>
    <title>AllClassic Korea</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <script src="https://cdn.ckeditor.com/4.11.1/standard-all/ckeditor.js"></script>
    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <script type="text/javascript">
        function modifyCss(color, page) {
            switch (color) {

                case "1":
                    $(".whitesmokeBG").css('background-color', '#004d40');
                    $(".whitesmokeBG").css('color', '#ffffff');
                    $(".whitesmokeBG > div > a ").css('color', '#ffffff');
                    $(".whitesmokeBG > div > span >a ").css('color', '#ffffff');
                    $("#mainSearchBox").css('background-color', '#5bc0de');


                    $(".whitesmokeBG").css('font-weight', 'bold');
                    $(".whitesmokeBG > div > a ").css('font-weight', 'bold');
                    $(".whitesmokeBG > div > span >a ").css('font-weight', 'bold');

                    break;
            }

            switch (page) {
                case "ASP.views_aboutus_aspx":
                    {
                        document.getElementById("introductiontab").style.backgroundColor = "rgb(255, 255, 255) ";
                        document.getElementById("introductiontab").style.borderBottom = "none";
                        document.getElementById("introductiontab").style.color = "#000000";

                        break;
                    }

                case "ASP.views_performancedb_aspx":
                    {
                        document.getElementById("performancetab").style.backgroundColor = "rgb(255, 255, 255) ";
                        document.getElementById("performancetab").style.borderBottom = "none";
                        document.getElementById("performancetab").style.color = "#000000";

                        break;
                    }
                case "ASP.views_performancedbaddnew_aspx": {
                    document.getElementById("performancetab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("performancetab").style.borderBottom = "none";
                    document.getElementById("performancetab").style.color = "#000000";
                    break;
                }
                case "ASP.views_performancedetail_aspx": {
                    document.getElementById("performancetab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("performancetab").style.borderBottom = "none";
                    document.getElementById("performancetab").style.color = "#000000";
                    break;
                }
                case "ASP.views_musiciandb_aspx": {
                    document.getElementById("artisttab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("artisttab").style.borderBottom = "none";
                    document.getElementById("artisttab").style.color = "#000000";
                    break;
                }
                case "ASP.views_musiciandbaddnew_aspx": {
                    document.getElementById("artisttab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("artisttab").style.borderBottom = "none";
                    document.getElementById("artisttab").style.color = "#000000";
                    break;
                }
                case "ASP.views_musiciandetailpage_aspx": {
                    document.getElementById("artisttab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("artisttab").style.borderBottom = "none";
                    document.getElementById("artisttab").style.color = "#000000";
                    break;
                }
                case "ASP.views_musiccollegedb_aspx": {
                    document.getElementById("MusicCollegetab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("MusicCollegetab").style.borderBottom = "none";
                    document.getElementById("MusicCollegetab").style.color = "#000000";
                    break;
                }
                case "ASP.views_musiccollegedbaddnew_aspx": {
                    document.getElementById("MusicCollegetab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("MusicCollegetab").style.borderBottom = "none";
                    document.getElementById("MusicCollegetab").style.color = "#000000";
                    break;
                }
                case "ASP.views_musiccollegedbdetail_aspx": {
                    document.getElementById("MusicCollegetab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("MusicCollegetab").style.borderBottom = "none";
                    document.getElementById("MusicCollegetab").style.color = "#000000";
                    break;
                }
                case "ASP.views_articledb_aspx": {
                    document.getElementById("articletab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("articletab").style.borderRight = "none";
                    document.getElementById("articletab").style.color = "#000000";
                    break;
                }
                case "ASP.views_articledbaddnew_aspx": {
                    document.getElementById("articletab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("articletab").style.borderRight = "none";
                    document.getElementById("articletab").style.color = "#000000";
                    break;
                }
                case "ASP.views_auditiondb_aspx": {
                    document.getElementById("auditiontab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("auditiontab").style.borderRight = "none";
                    document.getElementById("auditiontab").style.color = "#000000";
                    break;
                }
                case "ASP.views_auditiondb_aspx": {
                    document.getElementById("auditiontab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("auditiontab").style.borderRight = "none";
                    document.getElementById("auditiontab").style.color = "#000000";
                    break;
                }
                case "ASP.views_auditiondbaddnew_aspx": {
                    document.getElementById("auditiontab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("auditiontab").style.borderRight = "none";
                    document.getElementById("auditiontab").style.color = "#000000";
                    break;
                }
                case "ASP.views_concoursdb_aspx": {
                    document.getElementById("concoursdbtab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("concoursdbtab").style.borderRight = "none";
                    document.getElementById("concoursdbtab").style.color = "#000000";
                    break;
                }
                case "ASP.views_concoursdbaddnew_aspx": {
                    document.getElementById("concoursdbtab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("concoursdbtab").style.borderRight = "none";
                    document.getElementById("concoursdbtab").style.color = "#000000";
                    break;
                }
                case "ASP.views_performancegroupaddnew_aspx": {
                    document.getElementById("performancegrouptab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("performancegrouptab").style.borderRight = "none";
                    document.getElementById("performancegrouptab").style.color = "#000000";
                    break;
                }
                case "ASP.views_performancegroup_aspx": {
                    document.getElementById("performancegrouptab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("performancegrouptab").style.borderRight = "none";
                    document.getElementById("performancegrouptab").style.color = "#000000";
                    break;
                }
                case "ASP.views_performancegroupdetail_aspx": {
                    document.getElementById("performancegrouptab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("performancegrouptab").style.borderRight = "none";
                    document.getElementById("performancegrouptab").style.color = "#000000";
                    break;
                }
                case "ASP.views_repairshopdb_aspx": {
                    document.getElementById("RepairShoptab").style.backgroundColor = "white";
                    document.getElementById("RepairShoptab").style.borderRight = "none";
                    document.getElementById("RepairShoptab").style.color = "#000000";
                    break;
                }
                case "ASP.views_repairshopdbaddnew_aspx": {
                    document.getElementById("RepairShoptab").style.backgroundColor = "white";
                    document.getElementById("RepairShoptab").style.borderRight = "none";
                    document.getElementById("RepairShoptab").style.color = "#000000";
                    break;
                }
                case "ASP.views_musicshopdb_aspx": {
                    document.getElementById("MusicShopDBtab").style.backgroundColor = "white";
                    document.getElementById("MusicShopDBtab").style.borderRight = "none";
                    document.getElementById("MusicShopDBtab").style.color = "#000000";
                    break;
                }
                case "ASP.views_musicshopdbaddnew_aspx": {
                    document.getElementById("MusicShopDBtab").style.backgroundColor = "white";
                    document.getElementById("MusicShopDBtab").style.borderRight = "none";
                    document.getElementById("MusicShopDBtab").style.color = "#000000";
                    break;
                }
                case "ASP.views_concertvenudb_aspx": {
                    document.getElementById("ConcertVenutab").style.backgroundColor = "white";
                    document.getElementById("ConcertVenutab").style.borderRight = "none";
                    document.getElementById("ConcertVenutab").style.color = "#000000";
                    break;
                }
                case "ASP.views_concertvenudbaddnew_aspx": {
                    document.getElementById("ConcertVenutab").style.backgroundColor = "white";
                    document.getElementById("ConcertVenutab").style.borderRight = "none";
                    document.getElementById("ConcertVenutab").style.color = "#000000";
                    break;
                }
                case "ASP.views_peopleandjobdb_aspx": {
                    document.getElementById("PeopleAndJobDBtab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("PeopleAndJobDBtab").style.borderRight = "none";
                    document.getElementById("PeopleAndJobDBtab").style.color = "#000000";
                    break;
                }
                case "ASP.views_peopleandjobdbaddnew_aspx": {
                    document.getElementById("PeopleAndJobDBtab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("PeopleAndJobDBtab").style.borderRight = "none";
                    document.getElementById("PeopleAndJobDBtab").style.color = "#000000";
                    break;
                }
                case "ASP.views_performancearchivedb_aspx": {
                    document.getElementById("performanceArchivetab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("performanceArchivetab").style.borderRight = "none";
                    document.getElementById("performanceArchivetab").style.color = "#000000";
                    break;
                }
                case "ASP.views_signup_termsofusepage_aspx": {
                    document.getElementById("signuptab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("signuptab").style.borderRight = "none";
                    document.getElementById("signuptab").style.color = "#000000";
                    break;
                }
                case "ASP.views_qadbnew_aspx": {
                    document.getElementById("qatab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("qatab").style.borderRight = "none";
                    document.getElementById("qatab").style.color = "#000000";
                    break;
                }
                case "ASP.views_mypage_aspx": {
                    document.getElementById("mypagetab").style.backgroundColor = "rgb(255, 255, 255) ";
                    document.getElementById("mypagetab").style.borderRight = "none";
                    document.getElementById("mypagetab").style.color = "#000000";
                    break;
                }
            }
        }

        function SiteSearch() {
            $('#encodedSearchvalue').val(EncodeText(document.getElementById('searchbox').value));
        }

        function EncodeText(value) {
            var returnValue = "";
            var x = 0;
            var regex = /(^[a-zA-Z0-9_.]*)/;

            while (x < value.toString().length) {
                var match = regex.exec(value.substr(x));
                if (match != null && match.length > 1 && match[1] != '') {
                    returnValue += match[1];
                    x += match[1].length;
                }
                else {
                    if (value[x] == ' ') {
                        returnValue += '+';

                    }
                    else {
                        var charCode = value.charCodeAt(x);
                        var haxValue = charCode.toString(16);
                        returnValue += "%" + (haxValue.length < 2 ? '0' : '') + haxValue.toUpperCase();
                    }
                    x++;
                }
            }
            return returnValue;
        }

    </script>
</head>
<body style="padding-top: 2px; background-color: white;">
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <div class="container body-content" style="padding-left: 20px; font-family: 'Open Sans', sans-serif;">


            <div id="masterNavigationBar">
                <div class="row">
                    <span style="float: right; margin-left: 10px;">
                        <a runat="server" class="Contentdisplay" onserverclick="changeLanguageToEng" commandargument='en-US' style="padding-left: 0px; display: inline-block; color: black;"><%= Resources.DisplayText.en %></a>/
                        <a runat="server" class="Contentdisplay" onserverclick="changeLanguageToKr" commandargument='ko-KR' style="padding-right: 0px; display: inline-block; color: black;"><%= Resources.DisplayText.kr %></a>
                    </span>

                    <a runat="server" id="signinLink" visible="false">
                        <a runat="server" class="Contentdisplay" style="float: right; margin-left: 10px; color: black;" href="~/Views/Login.aspx"><%= Resources.DisplayText.SignIn %></a>
                        <a runat="server" class="Contentdisplay" style="float: right; color: black;" id="signuptab" href="~/Views/SignUp/TermsOfUsePage"><%= Resources.DisplayText.SignUp %> </a>
                    </a>

                    <a runat="server" class="Contentdisplay" id="signoutLink" style="float: right; color: black; margin-left: 10px;" visible="false" href="" onserverclick="signoutClicked"><%= Resources.DisplayText.SignOut %></a>
                    <a id="mypagetab" class="Contentdisplay" runat="server" style="float: right; color: black;" href="~/Views/Mypage"><%= Resources.DisplayText.Mypage %></a>

                    <br />

                </div>
                <div class="row">

                    <a class="navbar-brand allclasic_home" style="text-decoration: none; border-radius: 5px; background-color: darkorange; color: white !important;" runat="server" href="~/Views/PerformanceDB">AllClassic Korea</a>


                    <span class="otheroptions " style="padding-top: 8px;">
                        <asp:TextBox runat="server" ID="searchbox" class="form-control" Style="display: inline; width: 450px;"></asp:TextBox>
                        <asp:Button Style="margin-left: -15px; background-color: rgb(91, 192, 222); border: 1.15px solid rgb(91, 192, 222); border-radius: 0; margin-bottom: 3.7px;"
                            runat="server" ID="mainSearchBox" Text="search" UseSubmitBehavior="false" class="btn btn-primary" OnClientClick="SiteSearch();" OnClick="searchClicked" />
                        <asp:HiddenField runat="server" ID="encodedSearchvalue" />
                    </span>
                </div>
                <hr style="margin-top: 20px; margin-bottom: 10px;" />



                <div class="row" style="text-align: center;">
                    <div class="menucontainer">
                        <a id="performancetab" class="mainTitle" style="text-decoration: none;" runat="server" href="~/Views/PerformanceDB"><%= Resources.DisplayText.PerformanceDB %> </a>
                    </div>
                    |
                    <div class="menucontainer">
                        <a id="artisttab" class="mainTitle" style="text-decoration: none; width: 100px;" runat="server" href="~/Views/MusicianDB"><%= Resources.DisplayText.MusicianDB %>  </a>
                    </div>
                    |
                    <div class="menucontainer">
                        <a id="MusicCollegetab" class="mainTitle" runat="server" style="text-decoration: none; width: 100px;" href="~/Views/MusicCollegeDB"><%= Resources.DisplayText.MusicCollegeDB %></a>
                    </div>
                    |                  

                    <div class="menucontainer">
                        <a id="performancegrouptab" class="mainTitle" style="text-decoration: none; width: 100px;" runat="server" href="~/Views/PerformanceGroup.aspx"><%= Resources.DisplayText.PerformanceGroup %></a>
                    </div>
                    |
                    <div class="menucontainer">
                        <a id="A1" class="mainTitle" style="text-decoration: none; width: 100px;" runat="server" href="~/Views/PerformanceArchiveDB"><%= Resources.DisplayText.ArchiveCenter %> </a>
                    </div>
                    |
                    <div class="menucontainer">
                        <a runat="server" class="mainTitle" style="text-decoration: none; width: 100px;" href="~/Views/ClassicCoinDB"><%= Resources.DisplayText.ClassicCoin %></a>
                    </div>
                    |
                    <div class="menucontainer">

                        <a id="introductiontab" class="mainTitle" style="text-decoration: none; width: 100px;" runat="server" href="~/Views/AboutUs"><%= Resources.DisplayText.AboutUS %></a>
                    </div>
                </div>

                <%--<span style="margin-top: 10px; margin-bottom: 0;" />--%> 
                <%--position: absolute; left: 0; right: 0; display: block;--%>
                <div class="row" style="height: 80px; background-image: linear-gradient(to right, rgb(0, 77, 64,1), rgb(26, 181, 154,0.4));position: absolute; left: 0; right: 0; display: block; ">
                </div> 
                <br /> <br />
                <br /> <br />
                <%--<hr />--%>

            </div>

            <div class="row">

                <div class="col-md-2 col-xs-2  " id="mastersidemenu" style="padding-left: 0px; margin-top: 0px;">
                    <ul class="list-group ">

                        <a id="articletab" class="list-group-item list-group-item-action  whitesmokeBG" runat="server" href="~/Views/ArticleDB"><%= Resources.DisplayText.Article %></a>
                        <a id="auditiontab" class="list-group-item list-group-item-action whitesmokeBG" runat="server" href="~/Views/AuditionDB"><%= Resources.DisplayText.Auditions %></a>
                        <a id="concoursdbtab" class="list-group-item list-group-item-action whitesmokeBG" runat="server" href="~/Views/ConcoursDB"><%= Resources.DisplayText.Concours %></a>
                        <a id="RepairShoptab" class="list-group-item list-group-item-action whitesmokeBG" runat="server" href="~/Views/RepairShopDB"><%= Resources.DisplayText.RepairShop %></a>
                        <a id="MusicShopDBtab" runat="server" class="list-group-item list-group-item-action whitesmokeBG" href="~/Views/MusicShopDB"><%= Resources.DisplayText.MusicShop %></a>
                        <a id="ConcertVenutab" runat="server" class="list-group-item list-group-item-action whitesmokeBG" href="~/Views/ConcertVenuDB"><%= Resources.DisplayText.ConcertVenue %></a>
                        <a id="PeopleAndJobDBtab" runat="server" class="list-group-item list-group-item-action whitesmokeBG" href="~/Views/PeopleAndJobDB"><%= Resources.DisplayText.PeopleJob %></a>
                        <a id="qatab" runat="server" class="list-group-item list-group-item-action whitesmokeBG" href="~/Views/QADbNew"><%= Resources.DisplayText.QA %></a>

                    </ul>
                    <asp:ImageButton ImageUrl="~/Doc/ads/1d63a0_c98934b833c94affa65a41837b01c878_mv2_d_1388_1654_s_2.jpg" Style="width: 100%;" runat="server" />
                    <asp:ImageButton ImageUrl="~/Doc/ads/P20181203000.jpg" runat="server" Style="width: 100%;" />
                </div>

                <div class="col-md-10 col-xs-10" id="mastermaincontent" style="padding-right: 0;">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
            <br />

            <footer id="masterFooter" style="background: #F4F5F9; padding: 20px; position: absolute; left: 0; right: 0;">
                <p style="text-align: center;" class="Contentdisplay">
                    (주)올클래식코리아 | 대표 : 전동수 | 주소: 서울시 강남구 역삼로 220 홍성빌딩 3 층 (06227)<br />
                    사업자등록번호 : 629-88-01114 | 전화 : 02)561-7080 | 팩스 : 02)561-6082<br />
                    개인정보관리책임자 : 백대원 | 이메일: daewonbaek@gmail.com<br />
                    COPYRIGHT @www.allclassickorea.co.kr<br />
                </p>
            </footer>
            <style type="text/css">
                .menucontainer {
                    min-width: 110px;
                    display: inline-block;
                    text-align: center;
                    margin: 5px;
                }
            </style>

        </div>
    </form>
</body>
</html>

